<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.derlin.easypass.easypass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- dropbox activity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/dbx_app_key_manifest" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LoadSessionActivity"
            android:label="@string/title_activity_load" />
        <activity
            android:name=".AccountListActivity"
            android:label="@string/title_account_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AccountDetailActivity"
            android:label="@string/title_account_detail"
            android:parentActivityName=".AccountListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.derlin.easypass.easypass.AccountListActivity" />
        </activity>

        <activity
            android:name=".AccountEditActivity"
            android:label="@string/title_account_edit"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AccountNewActivity"
            android:label="@string/title_account_new"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>