<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.derlin.easypass.easypass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ch.derlin.easypass.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ch.derlin.easypass.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="ch.derlin.easypass.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- dropbox activity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/dbx_app_key_manifest" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.derlin.easypass.LoadSessionActivity"
            android:label="@string/title_activity_load"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ch.derlin.easypass.AccountListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ch.derlin.easypass.AccountDetailActivity"
            android:label="@string/title_account_detail"
            android:parentActivityName="ch.derlin.easypass.AccountListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.derlin.easypass.AccountListActivity" />
        </activity>
        <activity
            android:name="ch.derlin.easypass.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>